# Predicting Price of Houses.

## 1. Problem Definition

## 2. Data

There are twomain datasets.
* Train Set - to train the model
* Test Set - to test the model

## 3. Evaluation

The evaluation metric for this competition is the RMSLE (root mean squared log error)

## 4. Features

The features in the given dataset are given in `data_description.txt` file.

In [110]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn

In [111]:
#Import trainign set
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 20)
df = pd.read_csv("Data/train.csv")

In [112]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [113]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [114]:
# Find the columns which contains strings
for label, content in df.items():
    if pd.api.types.is_string_dtype(content):
        print(label)

MSZoning
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Heating
HeatingQC
CentralAir
Electrical
KitchenQual
Functional
FireplaceQu
GarageType
GarageFinish
GarageQual
GarageCond
PavedDrive
PoolQC
Fence
MiscFeature
SaleType
SaleCondition

In [115]:
# Turn all of the string value into category value
for label, content in df.items():
    if pd.api.types.is_string_dtype(content):
        df[label] = content.astype("category").cat.as_ordered()

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   category
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   category
 6   Alley          91 non-null     category
 7   LotShape       1460 non-null   category
 8   LandContour    1460 non-null   category
 9   Utilities      1460 non-null   category
 10  LotConfig      1460 non-null   category
 11  LandSlope      1460 non-null   category
 12  Neighborhood   1460 non-null   category
 13  Condition1     1460 non-null   category
 14  Condition2     1460 non-null   category
 15  BldgType       1460 non-null   category
 16  HouseStyle     1460 non-null   category
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   category
 22  RoofMatl       1460 non-null   category
 23  Exterior1st    1460 non-null   category
 24  Exterior2nd    1460 non-null   category
 25  MasVnrType     1452 non-null   category
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   category
 28  ExterCond      1460 non-null   category
 29  Foundation     1460 non-null   category
 30  BsmtQual       1423 non-null   category
 31  BsmtCond       1423 non-null   category
 32  BsmtExposure   1422 non-null   category
 33  BsmtFinType1   1423 non-null   category
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   category
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   category
 40  HeatingQC      1460 non-null   category
 41  CentralAir     1460 non-null   category
 42  Electrical     1459 non-null   category
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   category
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   category
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    category
 58  GarageType     1379 non-null   category
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   category
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   category
 64  GarageCond     1379 non-null   category
 65  PavedDrive     1460 non-null   category
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      category
 73  Fence          281 non-null    category
 74  MiscFeature    54 non-null     category
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   category
 79  SaleCondition  1460 non-null   category
 80  SalePrice      1460 non-null   int64
dtypes: category(43), float64(3), int64(35)
memory usage: 505.4 KB

In [117]:
df.ExterQual.cat.codes

0       2
1       3
2       2
3       3
4       2
       ..
1455    3
1456    3
1457    0
1458    3
1459    2
Length: 1460, dtype: int8

In [118]:
# Check missing data

df.isnull().sum()/len(df)

Id               0.000000
MSSubClass       0.000000
MSZoning         0.000000
LotFrontage      0.177397
LotArea          0.000000
                   ...
MoSold           0.000000
YrSold           0.000000
SaleType         0.000000
SaleCondition    0.000000
SalePrice        0.000000
Length: 81, dtype: float64

In [119]:
# Check numureic columns
for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        print(label)

Id
MSSubClass
LotFrontage
LotArea
OverallQual
OverallCond
YearBuilt
YearRemodAdd
MasVnrArea
BsmtFinSF1
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
TotRmsAbvGrd
Fireplaces
GarageYrBlt
GarageCars
GarageArea
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
MiscVal
MoSold
YrSold
SalePrice

In [120]:
# Check for which numeric column has null values

for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label)

LotFrontage
MasVnrArea
GarageYrBlt

In [121]:
# Fill Numeric null value with MEDIAN
for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            # Add a binary column which tells us if the data was missing
            df[label+"_is_Missing"] = pd.isnull(content)
            # Fill missing numeric value with median
            df[label] = content.fillna(content.median())

In [122]:
# Check again for which numeric column has null values

for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label)

In [123]:
for label, content in df.items():
    if not pd.api.types.is_numeric_dtype(content):
        # Add a binary column which tells us if the data was missing
        df[label+"_is_Missing"] = pd.isnull(content)
        # Turn categories into numbers and add +1
        df[label] = pd.Categorical(content).codes+1

In [124]:
pd.Categorical(df["ExterQual"]).codes

array([2, 3, 2, ..., 0, 3, 2], dtype=int8)

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Columns: 127 entries, Id to SaleCondition_is_Missing
dtypes: bool(46), float64(3), int64(35), int8(43)
memory usage: 560.5 KB

In [126]:
df.head().T

                              0      1      2      3      4
Id                            1      2      3      4      5
MSSubClass                   60     20     60     70     60
MSZoning                      4      4      4      4      4
LotFrontage                65.0   80.0   68.0   60.0   84.0
LotArea                    8450   9600  11250   9550  14260
...                         ...    ...    ...    ...    ...
PoolQC_is_Missing          True   True   True   True   True
Fence_is_Missing           True   True   True   True   True
MiscFeature_is_Missing     True   True   True   True   True
SaleType_is_Missing       False  False  False  False  False
SaleCondition_is_Missing  False  False  False  False  False

[127 rows x 5 columns]

In [127]:
df.sort_values(by=["YearBuilt"], inplace=True, ascending=True)

In [128]:
df.YearBuilt

1349    1872
1137    1875
747     1880
304     1880
1132    1880
        ...
898     2009
515     2009
157     2009
762     2009
378     2010
Name: YearBuilt, Length: 1460, dtype: int64

### Now as all the data is numeric and has no missing value, we can do the modelling.

In [129]:
%%time
from sklearn.ensemble import RandomForestRegressor
# Instantiate model 
model = RandomForestRegressor(n_jobs=-1,
                              random_state=42)

# Fit the model
model.fit(df.drop("SalePrice", axis=1), df["SalePrice"])

Wall time: 805 ms

RandomForestRegressor(n_jobs=-1, random_state=42)

In [130]:
# Score the model
model.score(df.drop("SalePrice", axis=1), df["SalePrice"])

0.9791484076136823

### Splitting data into train/validation sets

In [131]:
# Splitting data
df_val = df[df.YearBuilt <2005]
df_train = df[df.YearBuilt >= 2005]

len(df_val), len(df_train)

(1238, 222)

In [132]:
# Split data into X and y
X_train, y_train = df_train.drop("SalePrice", axis=1), df_train.SalePrice
X_valid, y_valid = df_val.drop("SalePrice", axis=1), df_val.SalePrice

X_train.shape, y_train.shape, X_valid.shape, y_valid.shape

((222, 126), (222,), (1238, 126), (1238,))

### Building am evaluation function

In [133]:
# Create evaluation function (RMSLE)
from sklearn.metrics import mean_squared_log_error, mean_absolute_error, r2_score

def rmsle(y_test, y_preds):
    """
    Calculates root mean squared log error between 
    predictions and true labels
    """
    return np.sqrt(mean_squared_log_error(y_test, y_preds))

# Create function to evaluate model on a few different model

def show_scores(model):
    train_preds = model.predict(X_train)
    val_preds = model.predict(X_valid)
    scores = {"Training MAE": mean_absolute_error(y_train, train_preds),
              "Valid MAE": mean_absolute_error(y_valid, val_preds),
              "Training RMSLE": rmsle(y_train, train_preds),
              "Valid RMSLE": rmsle(y_valid, val_preds),
              "Training R^2": r2_score(y_train, train_preds),
              "Valid R^2": r2_score(y_valid, val_preds)}
    return scores

In [134]:
%%time
model = RandomForestRegressor(n_jobs=-1,
                              random_state=42)
model.fit(X_train, y_train)

Wall time: 173 ms

RandomForestRegressor(n_jobs=-1, random_state=42)

In [135]:
show_scores(model)

{'Training MAE': 9865.194594594594,
 'Valid MAE': 46165.109168012925,
 'Training RMSLE': 0.0657314016985176,
 'Valid RMSLE': 0.35051513003079765,
 'Training R^2': 0.9667004329352393,
 'Valid R^2': 0.28791685775937004}

### Hyperparameter tuning with RandomizedSearchCV

In [136]:
%%time
from sklearn.model_selection import RandomizedSearchCV

#Different RandomForestRegressor hyperparameters
rf_grid = {"n_estimators": np.arange(10,100,10),
           "max_depth": [None, 3,5,10],
           "min_samples_split": np.arange(2,20,2),
           "min_samples_leaf": np.arange(1,20,2),
           "max_features": [0.5,1, "sqrt", "auto"]}

#Instantiate RandomizedSearchCV model
rs_model = RandomizedSearchCV(RandomForestRegressor(n_jobs=-1,
                                                    random_state=42),
                             param_distributions=rf_grid,
                             n_iter=100,
                             cv=5,
                             verbose=True)

#Fit the RandomizedSearchCV
rs_model.fit(X_train, y_train)

Fitting 5 folds for each of 100 candidates, totalling 500 fits
Wall time: 37.1 s

RandomizedSearchCV(cv=5,
                   estimator=RandomForestRegressor(n_jobs=-1, random_state=42),
                   n_iter=100,
                   param_distributions={'max_depth': [None, 3, 5, 10],
                                        'max_features': [0.5, 1, 'sqrt',
                                                         'auto'],
                                        'min_samples_leaf': array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19]),
                                        'min_samples_split': array([ 2,  4,  6,  8, 10, 12, 14, 16, 18]),
                                        'n_estimators': array([10, 20, 30, 40, 50, 60, 70, 80, 90])},
                   verbose=True)

In [137]:
rs_model.best_params_

{'n_estimators': 20,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'max_features': 'sqrt',
 'max_depth': None}

In [138]:
show_scores(rs_model)

{'Training MAE': 12041.419369369372,
 'Valid MAE': 52532.02285945073,
 'Training RMSLE': 0.07375044167775201,
 'Valid RMSLE': 0.3889187489257197,
 'Training R^2': 0.9499286765142784,
 'Valid R^2': 0.1877829508107458}